:root {
  --background-color: #f9f7fe;
  --primary-color: #6c63ff;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.hero {
  text-align: center;
  background: var(--background-color);
  padding: 120px 30px;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin: 30px auto 60px;
}

.hero h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.hero .btn-about {
  text-decoration: none;
  color: white;
  background: var(--primary-color);
  padding: 18px 30px;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
}

.hero .btn-about:hover {
  opacity: 0.8;
}
